fastapi>=0.115.0
uvicorn[standard]>=0.30.0
gunicorn>=23.0.0
supabase>=2.10.0
python-dotenv>=1.0.1
pydantic>=2.10.0
pydantic-settings>=2.6.0
langchain>=0.3.0
langchain-core>=0.3.0
langchain-groq>=0.2.0
langgraph>=0.2.0
cloudinary>=1.41.0
python-multipart>=0.0.12
python-dateutil>=2.9.0
pypdf>=5.0.0
fastapi-mail>=1.6.2
groq>=0.11.0
pyparsing>=3.2.0